# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Luis\Documents\Luis Velazquez\UPRRP\Ciencia de Computos\CCOM 4017\Labs\Final Final\New-Proyect--4\dfs_skel (1)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
